header {
  background-color: #0093ee;
  min-height: 4.5rem;
}

header .header-inner {
  display: flex;
  gap: 1rem;
  padding: 10px;
  max-width: 800px;
  margin: auto auto;
  align-items: flex-end;
  justify-content: space-between;
}

header .header-inner h1 {
  color: #fff;
  font-size: 2rem;
}
