header .header-inner {
  display: flex;
  gap: 1rem;
  padding: 10px;
  max-width: 800px;
  margin: auto auto;
  align-items: flex-end;
  justify-content: space-between;
}

header .header-inner h1 {
  /* color: #fff; */
  font-size: 2rem;
}

header.inFront {
  z-index: 10;
}