.details.wrapper,
.details.wrapper > *,
.details.wrapper > * > * {
	overflow-x: hidden;
	transition: all 0.2s ease;
}

/* closed state */
.details.wrapper {
	overflow-x: hidden;
	position: fixed;
	top: 0;
	left: calc(100vw - 60px);
	display: grid;
	padding: 10vh 0;
	height: 100vh;
	width: 0px;
}

.details.wrapper.showing {
	left: 0;
	width: 100%;
}


.details.body {
	overflow-x: hidden;
	width: 80vw;
	top: 0;
	height: 80vh;
	background: #fff;
	margin: auto;
	display: grid;
	grid-template-rows: 60px auto;
	z-index: 50;
}