.connector {
  justify-self: center;
  transition: all 0.2s ease;
  opacity: 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background: #fff;
  padding: 0.5rem;
	position: relative;
	top: -4.5rem;
}

.connector.showing {
  top: 0;
  opacity: 1;
}


.connector .text {
  padding: 0 0.5rem;
}