.modal, 
.modal > *, 
.modal > * > * {
	transition: all 0.2s ease;
}


.modal {
	position: fixed;
	top: 0;
	left: calc(100vw - 60px);
	display: grid;
	grid-template-columns: 1fr 80vw 1fr;
	padding-top: 10vh;
	height: 100vh;
	width: 0;
}

.modal.noTab {
	left: 100vw;
}

.modal.showing {
	left: 0;
	width: 100%;
}

.header-container {
	display: flex;
	background-color: #DBEAFE;
	filter: none;
}

.close {
	background-color: #BFDBFE;
	padding: 1rem;
	font-size: 1.125rem;
	line-height: 1.75rem;
	width: 60px;
	height: 60px;
}

.header {
	margin-left: auto;
	margin-right: auto;
	padding: 1rem 60px 1rem 0;
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.tab {
	border: 1px solid gray;
	background: #f0f0f0ff;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tab.showing {
	background: #f0f0f0;
}

.tab-text {
	flex-shrink: 0;
	transform: rotate(90deg);
}

.spacer {
	width: 60px;
	height: 200px;
	margin-left: auto;
}

.body {
	overflow-x: hidden;
	width: 80vw;
	min-width: 320px;
	max-width: 1000px;
	height: 80vw;
	min-height: 500px;
	background: white;
	margin: 0 auto 0 0;
	display: grid;
	grid-template-rows: 60px auto;
	z-index: 50;
}

