.tab {
	border: 1px solid gray;
	background: #f0f0f0ff;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tab.showing {
	background: #f0f0f0;
}

.tab-text {
	flex-shrink: 0;
	transform: rotate(90deg);
}

.spacer {
	width: 60px;
	height: 200px;
	margin-left: auto;
}