.store.wrapper,
.store.wrapper > *,
.store.wrapper > * > * {
	overflow-x: hidden;
	transition: all 0.2s ease;
}

/* closed state */
.store.wrapper {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: calc(100vw - 60px);
	display: grid;
	padding: 10vh 0;
	height: 100vh;
	width: 0px;
	background-color: #00000000;
}

.store.wrapper.showing {
	position: fixed;
	left: 0;
	width: 100%;
	background-color: #00000020;
	/* transition: background-color 0.3s ease; */
}

.store.wrapper.loggedOut {
	background-color: #00000000;
	left: 100vw;
}




.store.body {
	overflow-x: hidden;
	width: 80vw;
	top: 0;
	height: 80vh;
	background: #fff;
	border: 1px solid gray;
	margin: auto;
	display: grid;
	grid-template-rows: 60px auto;
	z-index: 50;

}